extends components/_layout

block title
	title !{title}

block script
	script(src="/js/index.js")

block css
	link(rel="stylesheet", href="/css/index.css")

block main
	main
		.main-inner
			h1 !{title}
			p Welcom to !{title}