head
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	block title
		title !{title}
	link(rel="styleSheets", href="/css/normalize.css")
	link(rel="stylesheets", href="/css/style.css")