@import component/header
@import component/side
@import component/layout
@import component/query

+ini_font_size()

body
  color: #666
  background: #fefefe

h1, h2
  margin: 0

input, textarea, button
  appearance: none
  -webkit-appearance: none
  -moz-appearance: none
  border: 1px solid #ccc
  background: #fff
  &:focus, &:active
    appearance: none
    -webkit-appearance: none
    -moz-appearance: none
    outline: none
    background: #fff

  &:-webkit-autofill
    -webkit-box-shadow: 0 0 0 1000px white inset

a
  $color: darken($main-c, 16%)
  text-decoration: none
  color: $color
  border-bottom: 1px solid $color
  padding-bottom: 2px